body {
    background: darkslateblue;
}

#joke-title{
    font-family: 'McLaren', cursive;
    font-size: xx-large;
    text-align: center;
    color: red;
    text-shadow: 2px 2px 4px #000000;
}

#chuck-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
}

#joke-text {
    text-decoration-color: azure;
    font-family: 'McLaren', cursive;
    font-size: x-large;
    text-align: center;
    color: azure;
    margin-left: 35%;
    margin-right: 35%;
    text-shadow: 2px 2px 4px #000000;
}

#joke-button {
    background-color: #4CAF50;
    border: none;
    padding: 15px 32px;
    display: block;
    text-align: center;
    font-family: 'McLaren', monospace;
    font-size: x-large;
    text-decoration-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    text-shadow: 2px 2px 4px #000000;
}