<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chuck Norris Jokes</title>
    <link href="css/css.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=McLaren&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="js/scripts.js"></script>
</head>
<body>
<h1 id="joke-title">Chuck Norris Jokes</h1>
<img id="chuck-img" src=img/chuck01.png alt="Chuck Norris photo">
<div id="joke-text"></div>
<button id="joke-button">Next joke</button>
</body>
</html>